<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="80%">

    <div fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="5px"
         fxLayoutGap.xs="0">
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 1</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 2</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 3</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 4</md-card></div>
    </div>

    <div fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="5px"
         fxLayoutGap.xs="0"
         style="display: flex;">
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 3</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 4</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 5</md-card></div>
      <div fxFlex="27%"><md-card class="mat-elevation-z10">Articolo 6</md-card></div>
    </div>

  </div>
  <div fxFlex="20%">
    <md-card class="mat-elevation-z10">
      <app-advertisement></app-advertisement>
    </md-card>
  </div>
</div>
