<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="27%"><md-card>Articolo 1</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 2</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 3</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 4</md-card></div>
</div>

<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="27%"><md-card>Articolo 3</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 4</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 5</md-card></div>
  <div fxFlex="27%"><md-card>Articolo 6</md-card></div>
</div>
