<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="80%">
<md-card class="mat-elevation-z10">

  <!-- desktop -->
  <md-grid-list fxHide.xs="true" 
                fxHide.gt-xs="false" 
                cols="1" 
                rowHeight="4:2">
    <md-grid-tile>
      <iframe *ngIf="type==='video'"
              width="100%" 
              height="100%" 
              [src]="videoDataService.data[0].src" 
              frameborder="0" 
              allowfullscreen>
      </iframe>
      <img *ngIf="type==='thumbnail'"
           (click)="type='video'"
           [src]="videoDataService.data[0].thumbnail"
           style="cursor: pointer; width: 100%"> 
    </md-grid-tile>
  </md-grid-list>

  <!-- mobile -->
  <md-grid-list fxHide.xs="false" 
                fxHide.gt-xs="true" 
                cols="1" 
                rowHeight="5:4">
    <md-grid-tile>
      <iframe *ngIf="type==='video'"
              width="100%" 
              height="100%" 
              [src]="videoDataService.data[0].src" 
              frameborder="0" 
              allowfullscreen>
      </iframe>
      <img *ngIf="type==='thumbnail'"
           (click)="type='video'"
           [src]="videoDataService.data[0].thumbnail"
           style="cursor: pointer;"> 
    </md-grid-tile>
  </md-grid-list>

  
  <!--
  <div style="width:100%;height:100%;width: 820px; height: 461.25px; float: none; clear: both; margin: 2px auto;">
    <embed src="https://www.youtube.com/v/AGR_YLhsKRg?version=3&amp;hl=en_US&amp;rel=0&amp;autohide=1&amp;autoplay=1" wmode="transparent" type="application/x-shockwave-flash" width="100%" height="100%" allowfullscreen="true" title="Adobe Flash Player">
  </div>
  -->
</md-card>

<!--
<md-grid-list cols="3" rowHeight="3:1">
  <md-grid-tile><md-card style="width: 100%;"></md-card></md-grid-tile>
  <md-grid-tile><md-card style="width: 100%;"></md-card></md-grid-tile>
  <md-grid-tile><md-card style="width: 100%;"></md-card></md-grid-tile>
</md-grid-list>
-->

<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="25%"><md-card><p>Articolo 1</p><p>kjhkhkj lkjlkjlk sdfg lllkjlkjlkj ljlkjlkj kjkkkjk</p></md-card></div>
  <div fxFlex="25%"><md-card>Articolo 2</md-card></div>
  <div fxFlex="25%"><md-card>Articolo 3</md-card></div>
  <div fxFlex="25%"><md-card>Articolo 4</md-card></div>
</div>
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="25%"><md-card><p>Articolo 5</p><p>kjhkhkj lkjlkjlk lllkjlkjlkj ljlkjlkj kjkkkjk</p></md-card></div>
  <div fxFlex="25%"><md-card>Articolo 6</md-card></div>
  <div fxFlex="25%"><md-card>&nbsp;</md-card></div>
  <div fxFlex="25%"><md-card>&nbsp;</md-card></div>
</div>

</div>
  
  <div fxFlex="20%">
    <md-card class="mat-elevation-z10">
      <app-advertisement></app-advertisement>
    </md-card>
  </div>

</div>

