<!--
<div fxLayout fxLayout.xs="column" style="padding-bottom: 130px; z-index: 10;">
  <div class="container-h-center" style="width: 80%; z-index: 10;">
-->

    <app-main-toolbar fxHide.xs="true" 
                      fxHide.gt-xs="false" 
                      style="z-index: 10;"></app-main-toolbar>
    
    <app-main-mobile-toolbar fxHide.xs="false" 
                             fxHide.gt-xs="true" 
                             style="z-index: 10;"></app-main-mobile-toolbar>

<!--
  </div>
</div>
-->

<!--
<div fxLayout fxLayout.xs="column" style="z-index: 1;">
  <div class="container-h-center " style="width: 80%;">
    <router-outlet></router-outlet >
  </div>
</div>
-->

<div fxLayout="column" fxLayout.xs="column" style="z-index: 1;">
  <div fxFlex="100%">
    <div [ngClass]="['container-h-center', 'desktop-container', 'mobile-container']"
         [ngClass.gt-xs]="{'container-h-center': true, 'desktop-container': true}"
         [ngClass.xs]="{'container-h-center': true, 'mobile-container': true}">
      <router-outlet></router-outlet >
    </div>
  </div>
  <div class="container-h-center" fxFlex="100%">
    <app-footer></app-footer>
  </div>
</div>






