<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="80%">
    <app-video-grid></app-video-grid>
  </div>
  
  <div fxFlex="20%">
    <md-card class="mat-elevation-z10">
      <app-advertisement>
      </app-advertisement>
    </md-card>
  </div>
</div>
<!--
<md-tab-group>
  <md-tab label="Tutti">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
  <md-tab label="Attualità">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
  <md-tab label="Cronaca">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
  <md-tab label="Cultura">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
  <md-tab label="Politica">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
  <md-tab label="Sport">
    &nbsp;
    <app-video-grid></app-video-grid>
  </md-tab>
</md-tab-group>
-->

