<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
  <div fxFlex="27%">
    <md-card>
      <md-grid-list cols="1" rowHeight="3:1">
        <md-grid-tile>
          <iframe width="100%" height="100" src="https://www.youtube.com/embed/AGR_YLhsKRg" frameborder="0" allowfullscreen></iframe>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  </div>
  <div fxFlex="27%">
    <md-card>
      <md-grid-list cols="1" rowHeight="3:1">
        <md-grid-tile>
          <iframe width="100%" height="100" src="" frameborder="0"></iframe>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  </div>
  <div fxFlex="27%">
    <md-card>
      <md-grid-list cols="1" rowHeight="3:1">
        <md-grid-tile>
          <iframe width="100%" height="100" src="" frameborder="0"></iframe>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  </div>
  <div fxFlex="27%">
    <md-card>
      <md-grid-list cols="1" rowHeight="3:1">
        <md-grid-tile>
          <iframe width="100%" height="100" src="" frameborder="0"></iframe>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  </div>
</div>
